Repository adamyi/Geegle3, changes with the owners that CODEOWNERS names for each.
All owners: @LachJones, @adamtanana, @adamyi

Fixed payroll
  chals/pwn/payroll/chal/payroll.c
Owners: @adamtanana

Added payrol
  chals/crypto/magic/challenge.libsonnet
  chals/pwn/payroll/sol/payroll
  chals/pwn/payroll/sol/sol.py
  chals/re/tellGeegle/challenge.libsonnet
Owners: @adamyi, @adamtanana

Added pip instructions for clirelay
  infra/cli-relay/src/index.html
Owners: @adamyi

Added auth? :P
  infra/uberproxy/config.go
  infra/uberproxy/login.go
  infra/uberproxy/main.go
Owners: @adamyi

fix magic
  BUILD
  chals/BUILD
  chals/crypto/magic/BUILD.bazel
Owners: @adamyi

Fixed payroll
  infra/uberproxy/BUILD.bazel
  infra/uberproxy/config.json
  infra/uberproxy/login.go
  infra/uberproxy/main.go
  infra/uberproxy/templates/login.html
Owners: @adamyi

added comment to guest
  .buildkite/ci.sh
  chals/web/guest/main.go
  chals/web/guest/templates/scan.html
  infra/uberproxy/templates/login.html
Owners: @adamyi, @adamtanana

added comment to guest
  chals/web/guest/templates/scan.html
Owners: @adamtanana

added comment to guest
  chals/web/guest/main.go
  infra/uberproxy/login.go
Owners: @adamtanana, @adamyi

docker-compose for cluster
  README.md
  chals/ir/who-is-attacking-me/challenge.libsonnet
  chals/pwn/game/challenge.libsonnet
  chals/pwn/geelang/challenge.libsonnet
  chals/pwn/intern-project/challenge.libsonnet
  chals/pwn/payroll/challenge.libsonnet
  chals/pwn/shell/challenge.libsonnet
  chals/re/tellGeegle/challenge.libsonnet
  chals/web/docs/challenge.libsonnet
  chals/web/employees/challenge.libsonnet
  chals/web/flatearth/challenge.libsonnet
  chals/web/guest/challenge.libsonnet
  chals/web/memegen/challenge.libsonnet
  chals/web/pasteweb/challenge.libsonnet
  chals/web/seclearn/challenge.libsonnet
  infra/cli-relay/challenge.libsonnet
  infra/gae/challenge.libsonnet
  infra/geemail-backend/challenge.libsonnet
  infra/geemail-frontend/challenge.libsonnet
  infra/gsmtpd/challenge.libsonnet
  infra/jsonnet/BUILD
  infra/jsonnet/docker-compose.jsonnet
  infra/mss/challenge.libsonnet
  infra/redis/challenge.libsonnet
  infra/requestz/challenge.libsonnet
  infra/scoreboard/challenge.libsonnet
  infra/sffe/challenge.libsonnet
  infra/uberproxy/network.go
  infra/xssbot/challenge.libsonnet
Owners: @adamyi

update ci for cluster infra
  .buildkite/ci.sh
Owners: @adamyi

CODEOWNERS:

# auto invite people for code review
# see https://help.github.com/en/articles/about-code-owners

# storyline
challenge.libsonnet @LachJones

# challenges
/chals/emails/ @LachJones
/chals/ir/intercepted/ @adamtanana
/chals/ir/who-is-attacking-me/ @adamtanana
/chals/pwn/game/ @adamtanana
/chals/pwn/geelang/ @adamtanana
/chals/pwn/intern-project/ @adamtanana
/chals/pwn/payroll/ @adamtanana
/chals/pwn/shell/ @adamtanana
/chals/re/tellGeegle/ @LachJones
/chals/web/docs/ @adamyi
/chals/web/drive/ @adamyi
/chals/web/employees/ @adamtanana
/chals/web/flatearth/ @adamyi
/chals/web/guest/ @adamtanana
/chals/web/memegen/ @adamyi
/chals/web/pasteweb/ @adamyi
/chals/web/seclearn/ @adamyi
/chals/crypto/magic/ @adamtanana

# infrastructure
/infra/cli-relay/ @adamyi
/infra/cli-static/ @adamyi
/infra/dns/ @adamyi
/infra/gae/ @adamyi
/infra/geemail-backend/ @adamyi
/infra/geemail-frontend/ @adamyi
/infra/geemail-client/ @adamyi
/infra/vuln-gsmtpd/ @adamtanana
/infra/gsmtpd/ @adamyi
/infra/jsonnet/ @adamyi
/infra/mss/ @adamyi
/infra/redis/ @adamyi
/infra/requestz/ @adamyi
/infra/sffe/ @adamyi
/infra/uberproxy/ @adamyi
/infra/scoreboard/ @adamtanana
/infra/xssbot/ @adamyi

# bazel
BUILD @adamyi
BUILD.bazel @adamyi
WORKSPACE @adamyi
/tools/ @adamyi
/.buildkite/ @adamyi
/.circleci/ @adamyi
*.libsonnet @adamyi
*.jsonnet @adamyi
